$themeDefault: 'def';

//not changed colors
$dangerColor: #e26a43;
$normallyColor: #5dae4b;
$processingColor: #4dbef9;

// indicator
$loadIndiBg: #29d;

$themes: (
    def: (
        bgDefaultColor: #42454e,
        bgDarkLightColor: #585c68,

        bgDefaultLightColor: #fff,

        //titles
        titleColor: #585c68,

        // btns
        btnBgColor: #43a7e2,
        btnBgSecondColor: #f6f6f6,
        btnTitleSecondColor: #585c68,
        btnSplitterColor: #E4E5E6,
        btnDisabledTextColor: #9C9C9C,
        btnDisabledBg: #292929,
        btnGroupBorderColor: transparent,

        //inputs
        inputBgColor: #e1e1e7,
        inputBorderColor: #dadae1,

        // list
        listTitleColor: #585c68,
        listBorderBottom: #dddee4,
        listBgColor: #fff,

        // indicator
        loadIndiBg: #29d,

        // left menu
        leftMenuBgColor: #585c68,
        leftMenuBorderColor: #525765,
        leftMenuTitleColor: #B2B4B9,
        leftMenuTitleBgColor: transparent,
        leftMenuTitleColorActive: #fff,
        leftMenuTitleBgColorActive: #4D505B,

        // popup menu
        popupMenuBg: #fff,
        popupMenuBorder: darken(#fff, 10%),

        //container
        containerBgColor: #ecedf2,
        containerBgDarkenColor: darken(#ecedf2, 20%),
        containerBorderColor: darken(#ecedf2, 10%)
    ),
    light: (
        bgDefaultColor: #697086,
        bgDarkLightColor: #838ca6,

        bgDefaultLightColor: #fff,

        //titles
        titleColor: #585c68,

        // btns
        btnBgColor: #43a7e2,
        btnBgSecondColor: #f6f6f6,
        btnTitleSecondColor: #585c68,
        btnSplitterColor: #E4E5E6,
        btnDisabledTextColor: #9C9C9C,
        btnDisabledBg: #292929,
        btnGroupBorderColor: #e1e7eb,

        //inputs
        inputBgColor: #e1e1e7,
        inputBorderColor: #dadae1,

        // list
        listTitleColor: #697086,
        listBorderBottom: #e5eaee,
        listBgColor: #f5f8fa,

        // indicator
        loadIndiBg: #29d,

        // left menu
        leftMenuBgColor: #f5f8fa,
        leftMenuBorderColor: transparent,
        leftMenuTitleColor: #697086,
        leftMenuTitleBgColor: transparent,
        leftMenuTitleColorActive: #fff,
        leftMenuTitleBgColorActive: lighten(#697086, 10%),

        // popup menu
        popupMenuBg: #fff,
        popupMenuBorder: darken(#fff, 10%),

        //container
        containerBgColor: #fff,
        containerBgDarkenColor: darken(#fff, 20%),
        containerBorderColor: darken(#fff, 10%)
    )
);
