/* Space out content a bit */
@import "variables";

html, body {
    //height: 100%;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body {
    @include set-color-theme(color, clr-invert);
    @include set-color-theme(background-color, clr-secondary);
}

button, input, textarea, select, a{
    //redefine orange box in chrome
    @include drop-outline();

    &:active, &:checked, &:after, &:focus {
        @include drop-outline();
    }
}

.no-selection {
    @include no-selection();
}

.no-selection-deep {
    @include no-selection-children();
}

a, a:hover, a:focus {
    text-decoration: none;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@include make-theme-transition();
