
$padding-bigger: 30px;
$padding-big: 20px;
$padding-normal: 16px;
$padding-small: 10px;
$padding-smaller: 4px;

$margin-big: 20px;
$margin-normal: 16px;
$margin-small: 10px;
$margin-smaller: 4px;

$border-radius-big: 6px;
$border-radius-normal: 4px;
$border-radius-small: 2px;

$top-height: 60px;
$top-margin: 10px;
$top-menu-height: $top-height;

$header-height: 30px;

$leftMenuWidth: 220px;
$leftMenuDetectMin: 800px;
$leftMenuItemWidth: 44px;

$text-size-hard: 22px;
$text-size-bigger: 18px;
$text-size-big: 16px;
$text-size: 14px;
$text-size-small: 12px;

$icon-size: 20px;

$marginNormal: 10px;
$marginSmall: 2px;
$paddingNormal: 10px;

$field-height: 40px;
$field-width: 200px;

$screen-hard: 820px;
$screen-big: 640px;
$screen-normal: 450px;

$btn-font-weight: 600;
$btn-height-circle: 50px;
$btn-height: 40px;
$btn-padding: 20px;
$btn-padding-small: 4px;

$opacity-overflow: 0.6;
$opacity-disabled: 0.5;
