@import "../../../../../../styles/variables";

.ui-page-title {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: $text-size-hard;
    //@include set-color-theme-sub(box-shadow, clr-shadow, '0px -7px 10px 0px', '');
    height: $top-menu-height;
    border-bottom: 1px solid;
    @include set-color-theme(border-bottom-color, clr-separator);

    .content {
        @include set-color-theme(background, clr-third);
        white-space: nowrap;
    }

    .ui-combo {
        position: absolute;
        right: 0;
        top: 10px;
    }

    .ui-item {
        opacity: 0;
        display: inline-block;
        padding: 10px 20px;
        border-right: 1px solid;
        @include set-color-theme(border-right-color, clr-separator);
        transition: opacity $delayFast ease-in-out;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    .ui-item:last-child {
        border-right: none;
    }
    .active-1 {
        .ui-item:nth-child(1) {
            opacity: 1;
        }
    }
    .active-2 {
        .ui-item:nth-child(2) {
            opacity: 1;
        }
    }
    .active-3 {
        .ui-item:nth-child(3) {
            opacity: 1;
        }
        .ui-combo {
            display: none;
        }
    }
    .active-4 {
        .ui-item:nth-child(4) {
            opacity: 1;
        }
        .ui-combo {
            display: none;
        }
    }

}
