.jr-overflow-screen {
  left: -100%;
  top: -100%;
  border: none;
  outline: none;
  position: fixed;
  z-index: 9999;
  right: 0;
  bottom: -100%;
  .pad {
    -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
    outline: none !important;
    opacity: 0.01;
    background: black;
    width: 200%;
    height: 200%;
  }
  .msg{
    position: absolute;
    top: 50%;
    left: 75%;
    color: #FFF;
    z-index: 1;
    width: 320px;
    margin-left: -160px;
    text-align: center;
  }
}

.jr-keyboard-popup {
  .jr-overflow-screen{
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    //    margin-bottom: 50%;
    bottom: 0;
    top: 0;
  }
  .jr-container-page-popup.jr-fix-parent{
    .jr-page{
      position: absolute;
    }
    .jr-page.jr-page-popup{
      position: relative;
    }
  }
}

html .jr-overflow-screen.animate .pad{
  transition: opacity 0.5s ease-in-out;
}

html .jr-overflow-screen.animate .pad, html .jr-overflow-screen.show .pad {
  opacity: 0.5;
}

