.jr-container-page-popup  {
  &.jr-fix-parent{
    .jr-page{
      position: fixed;
      top:0;
      left:0;
      right: 0;
      overflow: hidden;
      bottom: 0;
      z-index: 1;
    }

    .jr-page-popup{
      z-index: 2;
      position: relative;
      bottom: auto;
      overflow: auto;
      right: auto;
      left: auto;
    }
  }

  &.jr-fix-child{
    .jr-page{
      z-index: 1;
    }
    .jr-page-popup{
      z-index: 2;
      position: fixed;
    }
  }

  .jr-overflow-page-popup{
    z-index: 1;
  }

  &.jr-slide .jr-page-popup{
    position: absolute;
  }

}

.jr-fix-child{
  // fix for child pages

  .jr-page-popup{
    z-index: 7 !important;
    .jr-overflow-screen{
      z-index: 6;
    }
  }

}