<div class="jr-page page-main">

    main html - {{hashone}}

    {{test.ver1}}

    also, use this / for include files, do not use \ for include
    {{include(tree/tree-item)}}


    <div class="btn btn-second">{{mainPage.openSecond}}</div>
    <div class="btn btn-tree">{{mainPage.goToTree}}</div>
    <div class="btn btn-transl">{{mainPage.translate}}</div>
    <div class="btn btn-gestures">{{mainPage.gestures}}</div>
    <div class="btn btn-logout">{{mainPage.logout}}</div>

    <div style="height: 800px; border: 1px solid red;">just text</div>
</div>